<% if (logged) { %>
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  
      <head>
          <meta charset="utf-8">
          <meta name="description" content="Free anime site">
          <meta name="keywords" content="mandh tv ,mhtv,انمي مترجم,movies,كرتون,cartoon, m&htv ,m&h,anime, انمي, مشاهدة انميات , animes2020 ,  animes ,<%= Anime.title %> ,تش ام انمي ,انمي قاتل الشياطين">
          <meta name="author" content="Hamza Nael">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>MH Tv</title>
          <meta name="google-site-verification" content="2i4-0X3Xm23qvQuGwhuThXNO0hnu4aSwVQki_qSzLUI" />
          <link rel="apple-touch-icon" sizes="114x114" href="/imeges/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/imeges/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/imeges/favicon-16x16.png">
  <link rel="manifest" href="/imeges/site.webmanifest">
  <link rel="mask-icon" href="/imeges/safari-pinned-tab.svg" color="#061519">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#2d0b0b">
          <link rel="alternate" href="https://mhanime.herokuapp.com/" hreflang="ar" />
<link rel="alternate" href="https://mhanime.herokuapp.com/" hreflang="en" />

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Great+Vibes&family=Sriracha&display=swap"
            rel="stylesheet">
          <script src="https://kit.fontawesome.com/b63a27db1b.js" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
            <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
  <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <link rel="stylesheet" href="/css/bootstrap-social.css">
          <link rel="stylesheet" href="/css/styles.css">
        </head>
  <body>
  
    <nav class="navbar navbar-expand-lg  nav1">

      <a class="navbar-brand" href="/" >M&H</a>
      <a class="full" id="full"><i class="fas fa-expand"></i> </a>
      <button data-micron="pop" class="navbar-toggler btn1 btn2" type="button" data-toggle="collapse" data-target="#NavCollabs"
           aria-expanded="false" aria-label="Toggle navigation">
        <span  data-micron="pop" class="navbar-toggler-icon"><i data-micron="pop" class="fas fa-angle-double-down"></i></span>
      </button>
  
      <div class="collapse navbar-collapse ite" id="NavCollabs">
        <ul class="navbar-nav mr-auto fixplace" >
          <li class="nav-item ">
            <a class="nav-link button" data-micron="pop" href="/favorite">favorite </a>
          </li>
          <li class="nav-item">
            <a class="nav-link button"  data-micron="pop"href="/logout">Sign out</a>
          </li>
        </ul>
        <form class="form-inline my-2   nav-item d-flex justify-content-center" action="/advincedsearch" method="POST">
          <input class="form-control mr-sm-2 d-flex justify-content-center" name="adv" type="search"  style="background-color: inherit;color: red; border-top-color: blue; border-left: none; border-right: none; border-bottom-color: blue;width: 70%;" placeholder="Advanced Search" aria-label="Search">
          <button  class="btn my-2 my-sm-0  btn1"  data-micron="groove"  type="submit"> <i class="fas fa-search"></i> </button>
        </form>
  
      </div>
    </nav>
    <form class="form-inline my-2 mb-5  nav-item d-flex justify-content-center " method="POST" action="/search">
      <input type="text" id="search-query" class="form-control mr-sm-2 d-flex justify-content-center" style="background-color: inherit; color: red; width: 70%;border-top: none; border-left: none; border-right: none; border-bottom-color: red;"
        placeholder="Enter Name" name="fltrname">
      <button class="btn my-2 my-sm-0  btn1" data-micron="groove" type="submit"> <i class="fas fa-search"></i>
      </button>
  
    </form>
<% } %>

<% if (!logged) { %>
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Free anime site">
    <meta name="keywords" content="mandh tv ,mhtv,انمي مترجم,movies,كرتون,cartoon, m&htv ,m&h, انمي, مشاهدة انميات , animes2020 ,  animes ,<%= Anime.title %> ,تش ام انمي ,انمي قاتل الشياطين">
    <meta name="author" content="Hamza Nael">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MH Tv</title>
    <meta name="google-site-verification" content="2i4-0X3Xm23qvQuGwhuThXNO0hnu4aSwVQki_qSzLUI" />
    <link rel="apple-touch-icon" sizes="114x114" href="/imeges/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imeges/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imeges/favicon-16x16.png">
    <link rel="manifest" href="/imeges/site.webmanifest">
    <link rel="mask-icon" href="/imeges/safari-pinned-tab.svg" color="#061519">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#2d0b0b">
    <link rel="alternate" href="https://mhanime.herokuapp.com/" hreflang="ar" />
<link rel="alternate" href="https://mhanime.herokuapp.com/" hreflang="en" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Great+Vibes&family=Sriracha&display=swap"
      rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/b63a27db1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/styles.css">
  
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg  nav1">

      <a class="navbar-brand" href="/">M&H</a>
      <a class="full" id="full"><i class="fas fa-expand"></i> </a>
      <button data-micron="pop" class="navbar-toggler btn1 btn2" type="button" data-toggle="collapse" data-target="#NavCollabs"
      aria-expanded="false" aria-label="Toggle navigation">
   <span  data-micron="pop" class="navbar-toggler-icon"><i data-micron="pop" class="fas fa-angle-double-down"></i></span>
  </button>
  
      <div class="collapse navbar-collapse ite" id="NavCollabs">
        <ul class="navbar-nav mr-auto fixplace">
          <li class="nav-item ">
            <a class="nav-link button" data-micron="pop" href="/login">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button" data-micron="pop" href="/signup">Sign up</a>
          </li>
        </ul>
       
      </div>
    </nav>
    <form class="form-inline my-2 mb-5  nav-item d-flex justify-content-center " method="POST" action="/search">
      <input type="text" id="search-query" class="form-control mr-sm-2 d-flex justify-content-center" style="background-color: inherit; color: red; width: 70%;border-top: none; border-left: none; border-right: none; border-bottom-color: red;"
        placeholder="Enter Name" name="fltrname">
      <button class="btn my-2 my-sm-0  btn1" data-micron="groove" type="submit"> <i class="fas fa-search"></i>
      </button>
  
    </form>
<% } %>

<section class="anime-page container">

  <div class="top-page  ">
    <div class=" float-lg-right"> 
    <img src=<%= Anime.CoverImg %> alt="Anime Photo">
    <% if (logged) { %>
    <button type="button" class="btn  btn-lg fava " id="fava"> <i class="fas fa-heart"></i></button></div>
  <% } %>
</div>
  <div class="textedit">
    <h2><%=Anime.title%> </h2>
    <p>
      <%= Anime.discription %> 
    </p>
  </div>
</section>
<section class="epNumber" style="color: red;">
  <a class="btn btn-primary" style="background-color: #0a0a0a47; border: none;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    معلومات اضافيه
  </a>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="background-color: inherit; color: red; border: none;">
      <table class="table table-borderless"  >
        <tbody>
          <tr>
        
            
            <td><%= Anime.date %></td>
            <td>تاريخ الانتاج</td>
          </tr>
          <tr>
            <td><%= Anime.time %></td>
            <td>مده العرض</td>
          </tr>
          <tr>
            <td><a href="<%= Anime.trailer %> "> هنا</a></td>
            <td>العرض الدعائي</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="middle">
  <div class="catagories">
    <% Anime.category.forEach(element => { %>
    <a style="padding-left: 1rem;" href="/Catagory/<%=element%>"><%=element%></a>
    <% }) %>
  </div>

</section>

<section class="Content" id="ep">
  <% Anime.EP.forEach(ep => { %>

  <div class="MovieItem">

    <a title=<%=ep.title%> href="/epPgae/<%= ep.title %>/<%=ep.epNumber%>" />
    <div class="numr">
      <div> <%=ep.epNumber%> </div>
      <div></div>
    </div>
    <img src=<%=ep.imgLink %> alt="" class="BGMovieItem">

    <div class="content">
      <div class="text">
        <%=ep.discribtion %>
      </div>
    </div>
    </a>
  </div>
  <% }) %>
</section>

<section class="mid-nav">
  <h1>Comments</h1>
</section>

<section class="comments">



  <% if (logged) { %>





  <div class="container" style="text-align: right;">

    <div class="row">
      <% Anime.comments.forEach(comment => { %>
      <div class="card col-sm-4">
        <div class="card-body">
          <h5 class="card-title" id=""><%=  comment.username%></h5>
          <h6 class="card-subtitle mb-2 text-muted" id=""><%= comment.createdAt %> </h6>
          <p class="card-text" id=""><%=comment.text  %></p>
        </div>
      </div>

      <% }) %>

      <div id="next"> 

      </div>
    </div>
    <div class="row"  >
      <div class="card col-sm-12">
        <div class="card-body">
          <form class="my-2 my-lg-0 nav-item" style="margin: 0; padding-bottom: 20px;" id="commentForm">
            <button type="submit" data-micron="bounce" class="btn" style="margin-right: 15px; background-color: red; color: wheat;">
              <i class="far fa-comment" data-micron="bounce"></i> </button>
            <input id="commentBar" type="text" name="commentBar" class="form-control mr-sm-2" placeholder="ادخل تعليقك"
              style="text-align-last: right; width: 50%; float: right;" required>
            <input type="hidden" name="animeID" id="animeID" value=<%=Anime._id %>>
            <input type="hidden" name="createdate" id="todayDate" />
            <input type="hidden" name="" id="name" value="<%= user %> ">
            <input type="hidden" id="userID" value=<%= userID %>>
            <input type="hidden" id="favorate" value=<%= favorate %>>
          </form>
        </div>
      </div>
    </div>
  </div>





  <% }  %>


  <% if (!logged) { %>
  <div class="no-comments" style="text-align: center; color: red;">
    <p > <a style="color: red;" href="/login">سجل الدخول لترى التعليقات هنا</a> <br>  <a style="color: red;" href="/signup"> او قم بانشاء حسابك من هنا </a></p>
  </div>

  <% }  %>



</section>




<script type="text/javascript">
  function getDate() {

    let dateObj = new Date();
    let month = dateObj.getMonth() + 1;
    let day = String(dateObj.getDate()).padStart(2, '0');
    let year = dateObj.getFullYear();
    let output = day + '/' + month + '/' + year;


    document.getElementById("todayDate").value = output;
  }

  //call getDate() when loading the page
  getDate();
</script>

<%- include('footer'); -%>

<script>
  $(document).ready(function () {
    setInterval(ajaxGet,100000);
   <% if (logged) {%>
      
      function favaGet() {
        $.ajax({
          type: "GET",
          url: "/fava",
          data: {
            id: $("#userID").val(),
            fava: $("#animeID").val()
          },
          success: function (result) {
            console.log(result);
            if (result) {
              $("#fava").css("background-color", "yellow")
            } else {
              $("#fava").css("background-color", "red")
            }
          },
          error: function (e) {

            console.log("ERROR: ", e);
          }
        });
      }


      favaGet(); 
      <%} %>


    $("#fava").click(function (event) {
      // Prevent the form from submitting via the browser.
      event.preventDefault();
      favaPost();
      favaGet();
      setTimeout(favaGet(), 3000);
    });


    function favaPost() {
      var data = {
        user: $("#userID").val(),
        anime: $("#animeID").val()
      }

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/favorate",
        data: JSON.stringify(data),
        dataType: 'json',
        success: function (favorate) {
          alert("success");
        },
        error: function (e) {

        }
      });
      $("#fava").css("background-color", "yellow")
    }


    // SUBMIT FORM
    $("#commentForm").submit(function (event) {
      // Prevent the form from submitting via the browser.
      event.preventDefault();
      ajaxPost();
      //setTimeout(ajaxGet(), 100000);
    });


    function ajaxPost() {

      // PREPARE FORM DATA
      var formData = {
        text: $("#commentBar").val(),
        createdAt: $("#todayDate").val(),
        username: $("#name").val(),
        animeID: $("#animeID").val()
      }

      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/comment",
        data: JSON.stringify(formData),
        dataType: 'json',
        success: function (comment) {
          var t1 = '<div class="card col-sm-4"> ';
          var t2 = ' <div class="card-body">';
          var t3 = $('<h5 class="card-title" id="user1"></h5>').text(comment.username);
          var t4 = $('<h6 class="card-subtitle mb-2 text-muted" id="craete1"></h6>').text(comment.createdAt);
          var t5 = $('<p class="card-text" id="text1"></p>').text(comment.text);
          var t6 = '</div>    </div>';
          $("#next").before('<div class="card col-sm-4">'+' <div class="card-body">'
            +'<h5 class="card-title" id="user1">'+ comment.username+'</h5>' +
            '<h6 class="card-subtitle mb-2 text-muted" id="craete1">'+ comment.createdAt+'</h6>'+'<p class="card-text" id="text1"></p>'+
            comment.text+'</p>');
        },
        error: function (e) {
         

          console.log("ERROR: ", e);
        }
      });
      $("#commentBar").val("")
    }

    function ajaxGet() {
      $.ajax({
        type: "GET",
        url: "/comment",
        data: {
          id: "<%=Anime._id%>"
        },
        success: function (result) {
          var comment = JSON.parse(result);
          var t1 = '<div class="card col-sm-4"> ';
          var t2 = ' <div class="card-body">';
          var t3 = $('<h5 class="card-title" id="user1"></h5>').text(comment.username);
          var t4 = $('<h6 class="card-subtitle mb-2 text-muted" id="craete1"></h6>').text(comment.createdAt);
          var t5 = $('<p class="card-text" id="text1"></p>').text(comment.text);
          var t6 = '</div>    </div>';
          $("#next").before('<div class="card col-sm-4">'+' <div class="card-body">'
            +'<h5 class="card-title" id="user1">'+ comment.username+'</h5>' +
            '<h6 class="card-subtitle mb-2 text-muted" id="craete1">'+ comment.createdAt+'</h6>'+'<p class="card-text" id="text1"></p>'+
            comment.text+'</p>');


        },
        error: function (e) {
          $("#getResultDiv").html("<strong>Error</strong>");
          console.log("ERROR: ", e);
        }
      });
    }
  });
</script>